<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="">

      <!-- Include HEAD -->
      <th:block th:include="/fragments/_head"> </th:block>

      <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

          <div class="container" align="center">

            <h1 th:text="${add} ? 'Criar' : 'Alterar'" />

            <form class="form-horizontal"
                  th:action="${add} ? @{/api/v1/post/agendas/create/} : @{/api/v1/post/agendas/update/id/{objectId}/(objectId=${object.id})}"
                  th:object="${object}" method="POST">

                    <div class="form-group form-inline ml-auto">
                        <label class="control-label col-sm-6" for="name">Nome</label>
                        <input SIZE=40 type="text" placeholder="*Informe o nome" class="form-control input-sm" id="name" th:field="*{name}">
                    </div>

                    <div class="form-group form-inline ml-auto">
                      <label class="control-label col-sm-6" for="phone">Telefone</label>
                      <input SIZE=40 type="text" placeholder="*Informe o telefone"  class="form-control input-sm" id="phone" th:field="*{phone}">
                    </div>

                    <div class="form-group form-inline">
                      <label class="control-label col-sm-6" for="email">Email</label>
                      <input SIZE=40 type="email" placeholder="*Informe o e-mail"  class="form-control input-sm" id="email" th:field="*{email}">
                    </div>

                    <div class="form-group form-inline">
                      <label class="control-label col-sm-6" for="address1">Endereço1</label>
                      <input SIZE=40 type="text" placeholder="*Informe o endereço"  class="form-control input-sm" id="address1" th:field="*{address1}">
                    </div>

                    <div class="form-group form-inline">
                      <label class="control-label col-sm-6" for="address2">Endereço2</label>
                      <input SIZE=40 type="text" placeholder="*Informe o endereço" class="form-control input-sm" id="address2" th:field="*{address2}">
                    </div>

                    <div class="form-group form-inline">
                      <label class="control-label col-sm-6" for="address3">Endereço3</label>
                      <input SIZE=40 type="text" placeholder="*Informe o endereço" class="form-control input-sm" id="address3" th:field="*{address3}">
                    </div>

                    <div class="form-group form-inline">
                      <label class="control-label col-sm-6" for="postalCode">Código postal</label>
                      <input SIZE=40 type="text" placeholder="*Informe o código postal" class="form-control input-sm" id="postalCode" th:field="*{postalCode}">
                    </div>

                    <div class="form-group form-inline">
                      <label class="control-label col-sm-6" for="comment">Observações</label>
                      <textarea rows="3" placeholder="*Informe as observações" class="form-control input-sm"  id="comment" th:field="*{note}"></textarea>
                    </div>

                    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />

                    <div class="form-group form-inline division-centered">
                        <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/}">Listar</a>
                        &nbsp;&nbsp;&nbsp;
                        <input class="btn btn-primary" type="submit" th:value="${add} ? 'Criar' : 'Alterar'" />
                    </div>

            </form>

          </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

    </body>

</html>