<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="">

      <!-- Include HEAD -->
      <th:block th:include="/fragments/_head"> </th:block>

      <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

          <div class="container" align="center">

            <h1>Contatos</h1>

            <div>

              <table class="table table-hover">

                <thead>

                  <tr>
                    <th>Número</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Alterar</th>
                  </tr>

                </thead>

                <tbody>

                  <tr th:each ="object : ${objects}">

                    <td th:utext="${object.id}">...</td>
                    <td th:utext="${object.name}">...</td>
                    <td th:utext="${object.phone}">...</td>
                    <td th:utext="${object.email}">...</td>

                    <td><a th:href="@{/api/v1/get/agendas/update/id/{objectId}/(objectId=${object.id})}">Alterar</a></td>

                  </tr>

                </tbody>

              </table>

            </div>

            <div>
              <br/>
              <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/create/}">Criar</a>
              &nbsp;&nbsp;&nbsp;
              <span th:if="${hasPrev}"><a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/?page={prev}(prev=${prev})}">Anterior</a></span>
              &nbsp;&nbsp;&nbsp;
              <span th:if="${hasNext}"><a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/?page={next}(next=${next})}">Próxima</a></span>
            </div>

          </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

    </body>

</html>