<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="">

      <!-- Include HEAD -->
      <th:block th:include="/fragments/_head"> </th:block>

      <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

          <div class="container" align="center">

            <h1>Exibir</h1>

            <div th:if="${object}">

              <form class="form-horizontal"
                    th:action="@{/api/v1/post/agendas/update/id/{objectId}/(objectId=${object.id})}"
                    th:object="${object}" method="POST">

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="name">Nome</label>
                        <input SIZE=40 type="text" class="form-control input-sm" id="name" th:field="*{name}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="phone">Telefone</label>
                        <input SIZE=40 type="text" class="form-control input-sm" id="phone" th:field="*{phone}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="email">Email</label>
                        <input SIZE=40 type="email" class="form-control input-sm" id="email" th:field="*{email}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="address1">Endereço1</label>
                        <input SIZE=40 type="text" class="form-control input-sm" id="address1" th:field="*{address1}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="address2">Endereço2</label>
                        <input SIZE=40 type="text" class="form-control input-sm" id="address2" th:field="*{address2}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="address3">Endereço3</label>
                        <input SIZE=40 type="text" class="form-control input-sm" id="address3" th:field="*{address3}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="address3">Código postal</label>
                        <input SIZE=40 type="text" class="form-control input-sm" id="postalCode" th:field="*{postalCode}" disabled>
                      </div>

                      <div class="form-group form-inline">
                        <label class="control-label col-sm-6" for="comment">Observações</label>
                        <textarea rows="3" class="form-control input-sm"  id="comment" th:field="*{note}" disabled></textarea>
                      </div>

                      <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />

                      <div class="form-group form-inline division-centered">
                        <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/}">Listar</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/update/id/{objectId}/(objectId=${object.id})}">Alterar</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/delete/id/{objectId}/(objectId=${object.id})}">Excluir</a>
                      </div>

              </form>

            </div>

          </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

      </body>

</html>