<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="">

      <!-- Include HEAD -->
      <th:block th:include="/fragments/_head"> </th:block>

      <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

          <div class="container" align="center">

            <h1 th:text="${add} ? 'Criar Contato' : 'Alterar Contato'" />

            <form class="form-horizontal"
                  th:action="${add} ? @{/api/v1/post/agendas/create/} : @{/api/v1/post/agendas/update/id/{objectId}/(objectId=${object.id})}"
                  th:object="${object}" method="POST">

              <!--
              <div class="form-group form-inline">
                <label class="control-label col-sm-6" for="number">Número</label>
                <input type="number" class="form-control" id="number" th:field="${object.id}" disabled>
              </div>
              -->

              <div class="form-group form-inline">
                <label class="control-label col-sm-6" for="name">Nome</label>
                <input SIZE=40 type="text" class="form-control input-sm" id="name" th:field="*{name}">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="phone">Telefone</label>
                  <input SIZE=40 type="text" class="form-control input-sm" id="phone" th:field="*{phone}">
                  <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="email">Email</label>
                  <input SIZE=40 type="email" class="form-control input-sm" id="email" th:field="*{email}">
                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="address1">Endereço1</label>
                  <input SIZE=40 type="text" class="form-control input-sm" id="address1" th:field="*{address1}">
                  <p th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">Address1 Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="address2">Endereço2</label>
                  <input SIZE=40 type="text" class="form-control input-sm" id="address2" th:field="*{address2}">
                  <p th:if="${#fields.hasErrors('address2')}" th:errors="*{address1}">Address2 Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="address3">Endereço3</label>
                  <input SIZE=40 type="text" class="form-control input-sm" id="address3" th:field="*{address3}">
                  <p th:if="${#fields.hasErrors('address3')}" th:errors="*{address1}">Address3 Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="address3">Código postal</label>
                  <input SIZE=40 type="text" class="form-control input-sm" id="postalCode" th:field="*{postalCode}">
                  <p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Postal Code Error</p>
              </div>

              <div class="form-group form-inline">
                  <label class="control-label col-sm-6" for="comment">Observações</label>
                  <textarea rows="3" class="form-control input-sm"  id="comment" th:field="*{note}"></textarea>
                  <p th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Note Error</p>
              </div>

              <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />

              <div class="form-group form-inline">
                <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/}">Listar Contato</a>
                <p> | </p>
                <input class="btn btn-primary" type="submit" th:value="${add} ? 'Criar Contato' : 'Alterar Contato'" />
              </div>

            </form>

          </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

    </body>

</html>