<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

      <!-- Include HEAD -->
      <th:block th:include="/fragments/_head"> </th:block>

      <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

          <div class="container" align="center">

            <h1>Exibir Contato</h1>

            <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/}">Listar Contatos</a>

            <br/><br/>

            <div th:if="${object}">

              <table>

                <tr>
                  <td>Número</td>
                  <td> </td>
                  <td th:utext="${object.id}">...</td>
                </tr>

                <tr>
                  <td>Nome</td>
                  <td> </td>
                  <td th:utext="${object.name}">...</td>
                </tr>

                <tr>
                  <td>Telefone</td>
                  <td> </td>
                  <td th:utext="${object.phone}">...</td>
                </tr>

                <tr>
                  <td>Email</td>
                  <td> </td>
                  <td th:utext="${object.email}">...</td>
                </tr>

                <tr>
                  <td>Endereço</td>
                  <td> </td>
                  <td th:utext="${object.address1}">...</td>
                </tr>

                <tr>
                  <td>Endereço</td>
                  <td> </td>
                  <td th:utext="${object.address2}">...</td>
                </tr>

                <tr>
                  <td>Endereço</td>
                  <td> </td>
                  <td th:utext="${object.address3}">...</td>
                </tr>

                <tr>
                  <td>Código postal</td>
                  <td> </td>
                  <td th:utext="${object.postalCode}">...</td>
                </tr>

                <tr>
                  <td>Observações</td>
                  <td> </td>
                  <td th:utext="${object.note}">...</td>
                </tr>

              </table>

              <br/><br/>

              <div th:if="not ${allowDelete}">
                <a class="btn btn-primary" th:href="@{/api/v1/post/agendas/update/id/(objectId=${object.id})}">Alterar</a> |
                <a class="btn btn-primary" th:href="@{/api/v1/post/agendas/delete/id/(objectId=${object.id})}">Excluir</a>
              </div>

              <form th:if="${allowDelete}" th:action="@{/api/v1/post/agendas/delete/id/(objectId=${object.id})}" method="POST">
                Excluir este contato? <input type="submit" th:value="Sim" />
              </form>

            </div>

            <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />

          </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

      </body>

</html>