<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="">

      <!-- Include HEAD -->
      <th:block th:include="/fragments/_head"> </th:block>

      <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

          <div class="container" align="center">

            <h1 th:text="${add} ? 'Criar Contato' : 'Alterar Contato'" />

            <form class="form-horizontal"
                  th:action="${add} ? @{/api/v1/post/agendas/create/} : @{/api/v1/post/agendas/update/id/{objectId}/(objectId=${object.id})}"
                  th:object="${object}" method="POST">

                <table>

                    <tr>
                        <td>Nome</td>
                        <td> </td>
                        <td><input type="text" th:field="*{name}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Telefone</td>
                        <td> </td>
                        <td><input type="text" th:field="*{phone}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td> </td>
                        <td><input type="text" th:field="*{email}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Endereço</td>
                        <td> </td>
                        <td><input type="text" th:field="*{address1}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Endereço</td>
                        <td> </td>
                        <td><input type="text" th:field="*{address2}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Endereço</td>
                        <td> </td>
                        <td><input type="text" th:field="*{address3}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('address3')}" th:errors="*{address3}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Código postal</td>
                        <td> </td>
                        <td><input type="text" th:field="*{postalCode}" size="50" /></td>
                        <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Name Error</td>
                    </tr>

                    <tr>
                        <td>Observações</td>
                        <td> </td>
                        <td><textarea th:field="*{note}" rows="4" cols="50" /></td>
                        <td th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Name Error</td>
                    </tr>

                </table>

              <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />

              <div class="form-group form-inline">
                <a class="btn btn-primary" th:href="@{/api/v1/get/agendas/list/}">Listar Contato</a>
                <p> | </p>
                <input class="btn btn-primary" type="submit" th:value="${add} ? 'Criar Contato' : 'Alterar Contato'" />
              </div>

            </form>

          </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

    </body>

</html>