<!DOCTYPE html>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Mercadinho Paralelo</title>

        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>

        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>

        <h3>Dropdown Menu inside a Navigation Bar</h3>
        <p>Hover over the "Dropdown" link to see the dropdown menu.</p>

        <div class="container">

            <form th:action="@{/logout}" method="get">

                <button class="btn btn-md btn-danger btn-block" name="registration"
                        type="Submit">Logout
                </button>

            </form>

            <div class="panel-group" style="margin-top:40px">

                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <span th:utext="${userName}"></span>
                    </div>

                    <div class="panel-body">
                        <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400"
                             alt="Beer"/>
                    </div>

                    <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

                </div>

            </div>

    </div>

    <script>

        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }

    </script>

    </body>

</html>