<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <!-- Include HEAD -->
  <th:block th:include="/fragments/_head"> </th:block>

  <body>

    <!-- Include HEADER -->
    <th:block th:include="/fragments/_header"> </th:block>

    <!-- start MAIN -->
    <main>

      <div class="container" align="center">

        <h1>Incluir Recebimento</h1>

        <a class="btn btn-primary" th:href="@{/stocker/receiving-list}">Listar Recebimento</a>
        <br/>

        <form th:action="@{/stocker/receiving-create}" th:object="${object}" method="POST">

              <table>

                <tr>
                  <td class="table-title">Nome</td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="text" th:field="*{name}" /></td>
                </tr>

                <tr>
                  <td class="table-title">Telefone</td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="text" th:field="*{phone}" /></td>
                </tr>

                <tr>
                  <<td class="table-title">Email</td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="text" th:field="*{email}" /></td>
                </tr>

                <tr>
                  <td class="table-title">Endereço</td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="text" th:field="*{address1}" size="50" /></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="text" th:field="*{address2}" size="50" /></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="text" th:field="*{address3}" size="50" /></td>
                </tr>

                <tr>
                  <td class="table-title">Código postal</td>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" type="number" th:field="*{postalCode}" size="50" /></td>
                </tr>

                <tr>
                  <td class="table-title">Observações</td>
                  <td></td>
                  <td></td>
                  <td><textarea class="form-control" th:field="*{note}" rows="2" cols="30" cols="30"></textarea></td>
                </tr>

              </table>

              <br/>
              <input class="btn btn-primary" type="submit" th:value="${add} ? 'Incluir' : 'Alterar'" />

            </form>

          <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>

      </div>

    </main>

    <!-- Include FOOTER -->
    <th:block th:include="/fragments/_footer"> </th:block>

  </body>

</html>