<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Include HEAD -->
    <th:block th:include="/fragments/_head"> </th:block>

    <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

            <div class="container" align="center">

                <h1>Você tem autorização para funções do processo de</h1>
                <h1>ESTOQUES</h1>
                <br/>

                <div class="panel-heading">
                    <span class="admin-message-text text-center" th:utext="${userName}"></span>
                    <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
                </div>

                <div class="row">

                    <div class="col-xl bg-primary text-white text-center">
                        <p>Aqui você realiza a manutenção do cadastro de lojas</p>
                        <a class="btn btn-primary" th:href="@{/api/v1/get/stores/list/}">Listar lojas</a>
                    </div>

                    <div class="col-xl bg-primary text-white text-center offset-2">
                        <p>Aqui você realiza a manutenção do cadastro de produtos</p>
                        <a class="btn btn-primary" th:href="@{/api/v1/get/products/list/}">Listar Produtos</a>
                    </div>

                </div>

                <br/>
                <br/>
                <br/>

                <div class="row">

                    <div class="col-xl bg-primary text-white text-center">
                        <p>Aqui você cria e acompanha os recebimentos dos pedidos de compra</p>
                        <a class="btn btn-primary" th:href="@{/receiving/receiving-list}">Listar entradas</a>
                    </div>

                    <div class="col-lg bg-primary text-white text-center offset-2">
                        <p>Aqui você cria e acompanha as saídas dos pedidos de venda</p>
                        <a class="btn btn-primary" th:href="@{/shipping/shipping-list}">Listar saídas</a>
                    </div>

                </div>

            </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

    </body>

</html>