<div class="header-container" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Include HEAD -->
    <th:block th:include="/fragments/_head"> </th:block>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

        <a class="navbar-brand" th:href="@{/purchaser/index}">
            <img alt="logo" style="width:140px; height:60px;" th:src="@{/images/mercadinho.jpg}">
        </a>

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/v1/get/agendas/list/}">Agenda</a>
            </li>

            <!-- TODO PROGRAMMING SPRING SECURITY LOGOUT -->
            <li class="nav-item">
                <a class="nav-link" Href="/">Sair</a>
            </li>

        </ul>

    </nav>

</div>