<!--
// -----------------------------------------------------------------------------------------------------------------
// Author: Rosemeire Deconti
// Date: 01/06/2021
// Project: Develop an application to control stocks and e-commerce from a Grocery
// Origin: Suggested during Bootcamp CodeAnywhere mentoring promoted by Digital Innovation One
// HTML: ERROR page
// -----------------------------------------------------------------------------------------------------------------
-->
<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="">

        <!-- Include HEAD -->
        <th:block th:include="/fragments/_head"> </th:block>

        <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

            <div class="container" align="center">

                <h1>Algo errado aconteceu ...</h1>
                <h1>Estamos trabalhando para eliminar este problema!</h1>
                <p><a href="/">Volte para a página inicial</a></p>

            </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

        </body>

</html>