* {
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

body, main {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #f4511e;
    padding: 1px;
}

form, label {
    display: block;
    padding: 5px;
}

form {
    width: 800px;
    margin: 5px;
    background-color: #f4511e;
}

label {
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    float: left;
    text-align: right;
}

input {
    display: inline-block;
    padding-left: 5px;
}

.header-container {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

.footer-container {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    vertical-align: center;
    height: 30px;
}

.error {
    text-align:center;
    font-size: 22px;
    padding: 10px;
    background-color:white;
    color: red;
    font-weight: bold;
    font-style: normal;
}

.main-buttons {
   text-align: center
}

.button-main {
    min-width: 80px;
    max-width: 80px;
    background-color: blue;
    color: white;
    font-weight: bold;
}