* {
    font-family: Arial;
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

body, main {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: black;
    padding: 3px;
}

p {
    background-color:transparent;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    background-color: black;
    text-color: white;
    float: left;
    padding: 5px;;
}

.navbar a:hover {
    text-decoration: none;
    background-color: gray;
    text-color: white;
}

.nav-link {
    padding: 3px;
    margin: 10px;
}

.row {
    padding: 10px;
    margin: 10px;
}

table {
    background-color: white;
}

tr {
    font-weight: bold;
    font-color: black;
}

.error {
    font-size: 32px;
    padding: 10px;
    background-color:white;
    color: red;
    font-weight: bold;
    font-style: normal;
}

.header-container {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
}

.footer-container {
   position: fixed;
   width: 100%;
   left: 0;
   bottom: 0;
   background-color: black;
   color: white;
   text-align: center;
   font-weight: bold;
   padding: 10px;
}