<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Contact List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Contact List</h1>

<div>
  <nobr>
    <a th:href="@{/agendaModels/add}">Add Contact</a> |
    <a th:href="@{/}">Back to Index</a>
  </nobr>
</div>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Edit</th>
    </tr>
    <tr th:each ="agendaModel : ${agendaModels}">
      <td><a th:href="@{/agendaModels/{contactId}(contactId=${agendaModel.id})}" th:utext="${agendaModel.id}">...</a></td>
      <td><a th:href="@{/agendaModels/{contactId}(contactId=${agendaModel.id})}" th:utext="${agendaModel.name}">...</a></td>
      <td th:utext="${agendaModel.phone}">...</td>
      <td th:utext="${agendaModel.email}">...</td>
      <td><a th:href="@{/agendaModels/{contactId}/edit(contactId=${agendaModel.id})}">Edit</a></td>
    </tr>
  </table>
</div>
<br/><br/>
<div>
  <nobr>
    <span th:if="${hasPrev}"><a th:href="@{/agendaModels?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
    <span th:if="${hasNext}"><a th:href="@{/agendaModels?page={next}(next=${next})}">Next</a></span>
  </nobr>
</div>
</body>
</html>