<!DOCTYPE html>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Registration Form</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body th:style="'background:url('+ @{/images/background-2.jpg} +');'">

        <div class="container">

            <br/>
            <img th:src="@{/images/mercadinho.jpg}" class="img-responsive center-block" width="600" height="600" alt="Logo"/>
            <br/>

            <div class="row">

                <div class="col-md-6 col-md-offset-3">

                    <form autocomplete="off" action="#" th:action="@{/registration}"
                          th:object="${user}" method="post" class="form-horizontal"
                          role="form">

                        <h2>Criar conta de usuário</h2>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{name}" placeholder="Nome"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Sobrenome" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{email}" placeholder="Email"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{userName}" placeholder="Nome de usuário"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="password" th:field="*{password}"
                                       placeholder="Senha" class="form-control"/> <label
                                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Cadastrar conta</button>
                            </div>
                        </div>

                        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

                    </form>

                    <form th:action="@{/}" method="get">
                        <br/>
                        <button class="btn btn-lg btn-danger btn-block" type="Submit">Clique aqui acessar a aplicação!</button>
                        <br/>
                    </form>

                </div>

            </div>

        </div>

    </body>

</html>