<!DOCTYPE html>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Mercadinho Paralelo</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta charset="UTF-8" />

    </head>

    <body class="login-background">

        <div class="container">

            <br/>
            <img th:src="@{/images/mercadinho.jpg}" class="img-responsive center-block" width="600" height="600" alt="Logo"/>
            <br/>

            <form th:action="@{/authorization/login}" method="POST" class="form-signin">

                <h3 class="form-signin-heading">Sejam bem-vindos!</h3>
                <br/>

                <div class="form-group form-inline ml-auto">
                    <label class="control-label" for="user_name">Código</label>
                    <input type="text" id="user_name" name="userName" placeholder="Código do usuário" class="form-control"/>
                    <br/>
                </div>

                <div class="form-group form-inline ml-auto">
                    <label class="control-label" for="password">Senha</label>
                    <input type="password" placeholder="Senha"  id="password" name="password" class="form-control"/>
                    <br/>
                </div>

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Nome ou senha inválido, por favor verificar!</p>
                </div>

                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Entrar"></button>

            </form>

            <form th:action="@{/authorization/registration}" method="get">
                <br/>
                <button class="btn btn-lg btn-danger btn-block" type="Submit">Não tem sua conta ainda? Clique aqui!</button>
                <br/>
            </form>

        </div>

    </body>

</html>