<!DOCTYPE html>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Registration Form</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body th:style="'background:url('+ @{/images/background-2.jpg} +');'">

        <div class="container">

            <br/>
            <img th:src="@{/images/mercadinho.jpg}" class="img-responsive center-block" width="600" height="600" alt="Logo"/>
            <br/>

            <form autocomplete="off" action="#" th:action="@{/authorization/registration}"
                  th:object="${userModel}" method="post" class="form-horizontal"
                  roleModel="form">

                <div class="row" align="center">

                    <h2>Criar conta de usuário</h2>

                    <div class="form-group form-inline">
                        <label class="control-label" for="userName">Código</label>
                        <input type="text" placeholder="Informe seu código de usuário" id="userName" name="userName"  class="form-control"/>
                        <br/>
                    </div>

                    <div class="form-group form-inline">
                        <label class="control-label" for="userEmail">E-mail</label>
                        <input type="email" placeholder="Informe seu e-mail" id="userEmail" name="email"  class="form-control"/>
                        <br/>
                    </div>

                    <div class="form-group form-inline">
                        <label class="control-label" for="userPassword">Senha</label>
                        <input type="password" placeholder="Informe sua password" id="userPassword" name="password"  class="form-control"/>
                        <br/>
                    </div>

                    <div class="form-group form-inline">
                        <label class="control-label" for="userFullName">Nome completo</label>
                        <input type="text" placeholder="Informe seu nome do usuário" id="userFullName" name="name"  class="form-control"/>
                        <br/>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block">Criar</button>

                    <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

                </div>

            </form>

            <form th:action="@{/}" method="get">
                <br/>
                <button class="btn btn-lg btn-danger btn-block" type="Submit">Clique aqui acessar o Mercadinho Paralelo!</button>
                <br/>
            </form>

        </div>

    </body>

</html>