<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

  <!-- Include HEAD -->
  <th:block th:include="/fragments/_head"> </th:block>

  <body>

    <!-- Include HEADER -->
    <th:block th:include="/fragments/_header"> </th:block>

    <main>

      <div class="container" align="center">

        <h1>Excluir fornecedor</h1>
        <br/>

        <a class="btn btn-primary" th:href="@{/purchaser/purchase-list}">Listar Fornecedores</a>
        <br/>

        <div th:if="${agenda}">

          <table>

            <tr>
              <td class="table-title">Nome</td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.name}">...</td>
            </tr>

            <tr>
              <td class="table-title">Telefone</td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.phone}">...</td>
            </tr>

            <tr>
              <td class="table-title">Email</td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.email}">...</td>
            </tr>

            <tr>
              <td class="table-title">Endereço</td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.address1}">...</td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.address2}">...</td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.address3}">...</td>
            </tr>

            <tr>
              <td class="table-title">Código postal</td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.postalCode}">...</td>
            </tr>

            <tr>
              <td class="table-title">Observações</td>
              <td></td>
              <td></td>
              <td class="form-control" th:utext="${agenda.note}">...</td>
            </tr>

          </table>

          <br/>

          <div th:if="not ${allowDelete}">
            <a class="btn btn-primary" th:href="@{/purchaser/purchase-update/{agendaId}(agendaId=${agenda.id})}">Alterar</a> |
            <a class="btn btn-primary" th:href="@{/purchaser/purchase-delete/{agendaId}(agendaId=${agenda.id})}">Excluir</a>
          </div>

          <br/>
          <form th:if="${allowDelete}" th:action="@{/purchaser/purchase-delete/{agendaId}(agendaId=${agenda.id})}" method="POST">
            Confirma exclusão? <input class="btn btn-primary" type="submit" th:value="Sim" />
          </form>

        </div>

        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>

      </div>

    </main>

    <!-- Include FOOTER -->
    <th:block th:include="/fragments/_footer"> </th:block>

  </body>

</html>