<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

  <!-- Include HEAD -->
  <th:block th:include="/fragments/_head"> </th:block>

  <body>

    <!-- Include HEADER -->
    <th:block th:include="/fragments/_header"> </th:block>

    <!-- start MAIN -->
    <main>

      <div class="container" align="center">

          <h1>Alterar Venda</h1>
          <br/>

          <a class="btn btn-primary" th:href="@{/seller/sale-list}">Lista de Vendas</a>
          <br/>

          <form th:action="@{/seller/sale-update/{objectId}/(objectId=${object.id})}" th:object="${object}" method="POST">

            <table>

              <tr>
                <td class="table-title">Loja</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="text" th:field="*{storeID}" /></td>
              </tr>

              <tr>
                <td class="table-title">Cliente</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="text" th:field="*{customerID}" /></td>
              </tr>

              <tr>
                <<td class="table-title">Produto</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="text" th:field="*{productID}" /></td>
              </tr>

              <tr>
                <td class="table-title">Quantidade</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="text" th:field="*{amount}" size="50" /></td>
              </tr>

              <tr>
                <td class="table-title">Preço</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="text" th:field="*{price}" size="50" /></td>
              </tr>

              <tr>
                <td class="table-title">Data de criação</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="text" th:field="*{created}" size="50" /></td>
              </tr>

              <tr>
                <td class="table-title">Data de alteração</td>
                <td></td>
                <td></td>
                <td><input class="form-control" type="number" th:field="*{changed}" size="50" /></td>
              </tr>

            </table>

            <br/>
            <input class="btn btn-primary" type="submit" th:value="Alterar" />

          </form>

          <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>

      </div>

    </main>

    <!-- Include FOOTER -->
    <th:block th:include="/fragments/_footer"> </th:block>

  </body>

</html>