<!DOCTYPE HTML>

<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

    <!-- Include HEAD -->
    <th:block th:include="/fragments/_head"> </th:block>

    <body>

        <!-- Include HEADER -->
        <th:block th:include="/fragments/_header"> </th:block>

        <!-- start MAIN -->
        <main>

            <div class="container" align="center">

                <h1>Lista de Vendas</h1>
                <br/>

                <a class="btn btn-primary" th:href="@{/seller/sale-create}">Incluir Venda</a>
                <br/>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Loja</th>
                            <th>Cliente</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Alterar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="object : ${objects}">
                            <td th:utext="${object.id}"></td>
                            <td th:utext="${object.storeID}"></td>
                            <td th:utext="${object.customerID}"></td>
                            <td th:utext="${object.productID}"></td>
                            <td th:utext="${object.amount}"></td>
                            <td th:utext="${object.price}"></td>
                            <td><a th:href="@{/seller/sale-update/{objectId}(objectId=${object.id})}">Alterar</a></td>
                            <td><a th:href="@{/seller/sale-delete/{objectId}(objectId=${object.id})}">Excluir</a></td>
                        </tr>
                    </tbody>
                </table>

                <br/>
                <span th:if="${hasPrev}"><a class="btn btn-primary"th:href="@{/seller/sale-list?page={prev}(prev=${prev})}">Anterior</a></span>
                <span th:if="${hasNext}"><a class="btn btn-primary"th:href="@{/seller/sale-list?page={next}(next=${next})}">Próximo</a></span>

            </div>

        </main>

        <!-- Include FOOTER -->
        <th:block th:include="/fragments/_footer"> </th:block>

    </body>

</html>